body {
    background: #263238;
    color: #fff;
}
.header,.body.container {
    background: rgba(0, 0, 0, .6);
}
.nav>li {
    max-width: 300px;
}
.nav>li>a {
    padding: 10px 10px;
}
.nav>li>a{        
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
}
.nav>li>a:hover, .nav>li>a:active{
    background: none;
    border-bottom: 2px solid;
    border-color: red;
}
button.navbar-toggle {
    background: #8e2323;
}
button>.icon-bar{
    background:white;
}
.search-addon {
    max-width: 300px;
}
.search-addon .input-group-addon {
    background: transparent;
    border-right:none !important;
}
.input-search, .btn-search {
    background: transparent;
    color:white;
}
