body::-webkit-scrollbar {
    width: 6px;
    height: 6px !important;
}
body::-webkit-scrollbar-thumb {
    background-color: #3c8dbc !important;
}
.npv-page-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    background: #ffffff url('../img/themes/loading.gif') no-repeat;
    background-position-x: center;
}
.list-action-icon .fa {
    cursor: pointer;
    padding: 3px;  
    min-width: 20px;
    opacity: 0.8;
}
.list-action-icon .fa:hover {
    opacity: 1;
}

.required {
    border-left: 3px red solid;
}
.display-none {
    display:none !important;
}
.img-select-file {
    cursor: pointer;
}
.box-avatar {
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    border: 2px #e4e4e4 solid;
}

.form-search-addon, .form-add-addon {
    width:300px;
}
.form-search-addon .fa-search {
    cursor: pointer;
}

.remove-border {
    border-top: none;
    border-left: none;
    border-right: none;
}
.text-light-red{color:#ff2f00 !important}
.box-body-title{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #75b1d4;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.npv-add-image{
    width: 100%;
}
.npv-progress {
    position: fixed;
    width: 100%;
    top: 0;
    height: 5px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    z-index: 100;
    display: none;
}

.progress-bar {
    background-color: #14415a;
}

.npv-viewer{
    
}
.npv-viewer-container {
    position: relative;
    float: left;
    width: 100%;
    background-color: #0202024d;
}

.npv-list-action {
    list-style: none;
    padding-top: 30%;
}
.npv-list-action > li {
    padding: 5px 5px;
}
.npv-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #da9d40;
    cursor: pointer;
}

.npv-icon > i {
    position: relative;    
    top: 5px;
    left: 9px;
    color: white;
}
.npv-icon > b {
    position: relative;    
    top: 5px;
    left: 5px;
    color: gray;
}
.npv-icon > b.active {
    color: white;
}

.npv-icon-right {
    position: fixed;
    z-index: 101;
    top: 40%;
    right: 0px;
    width: 50px;
    background-color: #3c8dbc;
    text-align: center;          
}

.npv-icon-right > ul {
    list-style: none
}

.npv-icon-right > ul > li > a > div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;   
}

.npv-icon-right > ul > li > a{
    cursor: pointer;   
}

.npv-server-box {
    padding-bottom: 5px;
}
.npv-server-google, .npv-server-youtube, .npv-server-openload {
    opacity: 0.3;
    border-radius: 5px;
    cursor: pointer;
}

.npv-server-active {
    opacity: 1;
    background-color: white;
}

iframe.npv-youtube {
    margin: 5px 5px;
    width: 100%;
    height:540px;
    border: 1px solid white;
}
@media(max-width: 900px){
    iframe.npv-youtube {
        height: 440px;
    }
}

@media(max-width: 767px){
    iframe.npv-youtube {
        height: 410px;
    }
}
@media(max-width: 640px){
    iframe.npv-youtube {
        height: 320px;
    }
}
@media(max-width: 480px){
    iframe.npv-youtube {
        height: 320px;
    }
}
@media(max-width: 414px){
    iframe.npv-youtube {
        height: 220px;
    }
}

@media(max-width: 375px){
    iframe.npv-youtube {
        height: 200px;
    }
}

@media(max-width: 360px){
    iframe.npv-youtube {
        height: 180px;
    }
}
