/* vanillatoast */
.vanillatoasts-fadeOut,.vanillatoasts-toast{animation-duration:.3s;animation-timing-function:cubic-bezier(.215,.61,.355,1)}#vanillatoasts-container{position:fixed;top:0;right:0;width:320px;font-family:Helvetica}.vanillatoasts-toast{position:relative;padding:20px 17px;margin:20px;border-radius:10px;background:#F5F5F5;cursor:pointer;box-shadow:1px 1px 3px rgba(0,0,0,.1);animation-name:VanillaToasts}.vanillatoasts-fadeOut{animation-name:VanillaToastsFadeOut;animation-fill-mode:forwards}#vanillatoasts-container h4,#vanillatoasts-container p{margin:3px 0!important}.vanillatoasts-title{font-weight:700;font-size:15px;margin-bottom:10px}.vanillatoasts-text{font-size:14px;color:#777}.vanillatoasts-icon{position:absolute;top:5px;left:-60px;width:70px;height:70px;border-radius:100%;box-shadow:1px 1px 3px rgba(0,0,0,.1);background:#FFF}.vanillatoasts-toast a,.vanillatoasts-toast a:hover{color:#549EDB!important;text-decoration:none!important}.vanillatoasts-success{border-bottom:2px solid #51C625}.vanillatoasts-warning{border-bottom:2px solid #DB9215}.vanillatoasts-error{border-bottom:2px solid #DB2B1D}.vanillatoasts-info{border-bottom:2px solid #27ABDB}.vanillatoasts-info:hover{border-bottom:2px solid #DB9215}@keyframes VanillaToasts{from{transform:translate3d(400px,0,0);opacity:0}to{transform:translate3d(0,0,0);opacity:1}}@keyframes VanillaToastsFadeOut{from{transform:translate3d(0,0,0);opacity:1}to{transform:translate3d(400px,0,0);opacity:0}}

body {
    background: #263238;
    color: #fff;
}
.header,.body.container {
    background: rgba(0, 0, 0, .6);
}
.nav>li {
    max-width: 300px;
}
.nav>li>a {
    color:white;
    text-transform: uppercase;
    padding: 10px 10px;
}
.nav>li>a{        
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
}
.nav>li>a:hover, .nav>li>a:active{
    background: none;
    border-bottom: 2px solid;
    border-color: red;
}
button.navbar-toggle {
    background: #8e2323;
}
button>.icon-bar{
    background:white;
}
.search-addon {
    max-width: 300px;
}
.search-addon .input-group-addon {
    background: transparent;
    border-right:none !important;
    border-radius: 0px;
}
.btn-search {
    cursor: pointer;
}
.input-search, .btn-search {
    background: transparent;
    color:white;
    border-radius: 0px;
}
