/* vanillatoast */
.vanillatoasts-fadeOut,.vanillatoasts-toast{animation-duration:.3s;animation-timing-function:cubic-bezier(.215,.61,.355,1)}#vanillatoasts-container{position:fixed;top:0;right:0;width:320px;font-family:Helvetica}.vanillatoasts-toast{position:relative;padding:20px 17px;margin:20px;border-radius:10px;background:#F5F5F5;cursor:pointer;box-shadow:1px 1px 3px rgba(0,0,0,.1);animation-name:VanillaToasts}.vanillatoasts-fadeOut{animation-name:VanillaToastsFadeOut;animation-fill-mode:forwards}#vanillatoasts-container h4,#vanillatoasts-container p{margin:3px 0!important}.vanillatoasts-title{font-weight:700;font-size:15px;margin-bottom:10px}.vanillatoasts-text{font-size:14px;color:#777}.vanillatoasts-icon{position:absolute;top:5px;left:-60px;width:70px;height:70px;border-radius:100%;box-shadow:1px 1px 3px rgba(0,0,0,.1);background:#FFF}.vanillatoasts-toast a,.vanillatoasts-toast a:hover{color:#549EDB!important;text-decoration:none!important}.vanillatoasts-success{border-bottom:2px solid #51C625}.vanillatoasts-warning{border-bottom:2px solid #DB9215}.vanillatoasts-error{border-bottom:2px solid #DB2B1D}.vanillatoasts-info{border-bottom:2px solid #27ABDB}.vanillatoasts-info:hover{border-bottom:2px solid #DB9215}@keyframes VanillaToasts{from{transform:translate3d(400px,0,0);opacity:0}to{transform:translate3d(0,0,0);opacity:1}}@keyframes VanillaToastsFadeOut{from{transform:translate3d(0,0,0);opacity:1}to{transform:translate3d(400px,0,0);opacity:0}}
.vanillatoasts-title{color:red;}
.invalid-feedback{
    color:rgba(255, 121, 121, 0.63);
}
body {
    background: #263238;
    color: gray;
    min-width: 414px;
}
body::-webkit-scrollbar {
    width: 6px;
    height: 6px !important;
}
body::-webkit-scrollbar-thumb {
    background-color: #3c8dbc !important;
}
a.visit:visited{
    background: #738492;
    border-color: #738492;    
}

.no-padding {
    padding-left:0px !important;
    padding-right:0px !important;
}
.no-border {
    border: none !important;
}
.themes-color {
    background-color: #337ab7;
    color: white;
}
.header, .content, .footer {
    background: rgba(0, 0, 0, .6);
}
.header {
    margin-bottom: 20px;
}
.content {
    padding: 15px;
    border-radius: 3px;
}

.footer{
    margin-top: 20px;
}
.content-left{
    padding-left: 0px;
}
.content-right-section{
    padding:10px;
    margin: 15px 0px;
    background: #263238;
    border-radius: 3px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
.content-left-title, .error-code, .error-name{
    text-transform: uppercase;
    color: #777;
    font-family: "-webkit-body";
}
.content-right-title{
    text-transform: uppercase;
    color: #F5F5F5;
    font-family: "-webkit-body";
    border-bottom: 3px solid #00a5ad;
}
.navbar-brand{
    padding: 0px 15px;
}
.nav>li {
    max-width: 300px;
}
.nav>li>a {
    color:white;
    text-transform: uppercase;
    padding: 15px 10px;
}
.nav>li>a{        
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus, .nav .open>a{
    background: none;
    background-color:transparent !important;
    border-bottom: 2px solid;
    border-color: red;
}
button.navbar-toggle {
    background: #8e2323;
}
button>.icon-bar{
    background:white;
}
.search-addon {
    max-width: 300px;
}
.search-addon .input-group-addon {
    background: transparent;
    border-right:none !important;
    border-radius: 0px;
}
.btn-search {
    cursor: pointer;
}
.input-search, .btn-search {
    background: transparent;
    color:white;
    border-radius: 0px;
}

.result-search {
    display:none;
    position: absolute;
    top: 40px;
    width: calc(100% - 20px);
    background-color: rgba(39, 51, 56, 0.8);
    z-index: 200;
    margin:10px 10px;
    -webkit-transition: display 1s ease-out;
    transition: display 1s ease-out;
}
.slider {
    padding: 15px 10px;
}
.slider img{
    width:100%;
    height: 450px;
}
@media (max-width: 1200px) {
    .slider img{        
        height: 350px;
    }
}
@media (max-width: 767px) {
    .slider img{        
        height: 300px;
    }
}
@media (max-width: 480px) {
    .slider img{        
        height: 250px;
    }
}
.slider-info{
    position:  absolute;
    top: 0px;
    left:  0px;
    width:100%; 
    height:  100%;
}
.slider-info-inner{
    height: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.35);
}
.slider-name, .slider-button{
    position: relative;
    top: 20%;
    font-weight: 700;
    font-size: 3em;
    color: white;
}
.slider-button > a > .btn-danger{
    background-color: rgba(0, 0, 0, 0.6313725490196078);
    border-color: white;
    transition: background-color 0.6s;
}
.slider-button > a > .btn-danger:hover{
    background-color: rgba(197, 14, 14, 0.83);    
}
.box-phim {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.box-image > img {
    width: 100%;
    height: 200px;    
}
.box-overlay-rich {
    top: 0px;
    width: 100%;
    height: 200px;
    position: absolute;
}
.box-phim:hover{
    opacity: 0.6;
}
.box-overlay-rich:hover{    
    background: url('../img/themes/overlay_rich.png') center no-repeat;
    z-index: 100;
}
.box-info{
    position: relative;
    width: 100%;
}
.box-info>.box-text{
    position: absolute;
    top: -200px;
    right: 0px;
    padding: 5px 10px;
    z-index: 1;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    background: rgba(183, 28, 28, 0.9);
    font-weight: 600;
}
.box-info>.box-title{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding: 5px;
    z-index: 1;
    color:white;
    background: rgba(0, 0, 0, .6);
    font-weight: 600;
}
.phim-tip{    
    position:absolute;
    font-family: "-webkit-body";
    min-width:250px;
    min-height: 180px;  
    left:200px;
    top: -30px;
    background: rgb(237, 249, 238);    
    z-index: 10;
    border-radius: 3px;
    display:none;
}
.phim-tip::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(237, 249, 238) transparent transparent;
}
.phim-tip-content{
    padding: 15px;
}
.phim-tip-content > .phim-tip-ten{
    font-size: 1.3em;    
    text-transform: uppercase;
    color: #00a5ad;
    font-weight:700;
}
.phim-tip-content > .phim-tip-underten, .phim-tip-content > .phim-tip-noidung{
    color:gray;
    font-size: 1.1em;
}
.phim-tip-content > .phim-tip-underten .glyphicon, .phim-tip-content > .phim-tip-underten > .title{
    color:#11c3cb;
}
.phim-tip-content > .phim-tip-noidung {
    padding: 10px 0px;
}
.box-phim:hover ~ .phim-tip{
    display: block;
}
@media (max-width: 1199px) {
    .phim-tip{           
        min-width:250px;
        min-height: 180px; 
        left:150px;
        top: -30px;       
    }
}
@media (max-width: 991px) {
    .phim-tip{           
        min-width: 205px;
        min-height: 120px;
        left: 10px;
        top: -160px;      
    }
    .phim-tip::after {        
        top: 100%;
        right: 50%;
        margin-top:0px;
        margin-right: -5px;
        border-color: rgb(237, 249, 238) transparent transparent transparent;
    }
    .phim-tip-content > .phim-tip-noidung {
        display: none;
    }
}
@media (max-width: 767px) {
    .box-phim:hover ~ .phim-tip{
        display: none;
    }    
}
@media (max-width: 480px) {
    .box-info>.box-text{
        top:-160px;
    }
    .box-image > img {
        height: 160px;
    }
    .npv-box-phim {
        height: 160px;
    }
    .box-info>.box-title{
        font-size: 0.8em;
    }
}

.list-anime {
    list-style: none;
    padding-left: 0px;
}
.list-anime>li {
    height: 70px;
    padding: 5px 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.list-anime>li>a{
    color: white;
}
.list-anime>li:hover{    
    background-color: #00a5ad;
}
.star-color {
    color:yellow;
}

.star-half-color {
    color:yellow;
}

.glyphicon {
    cursor: pointer;
}

.content-left-section {
    float: left;
    padding: 15px 10px;
    margin: 15px 0px;
    width: 100%;
    background: #263238;
    border-radius: 3px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
.content-left-section .content-left-title{
    margin-top: 0px;
    border-bottom: 1px solid;
}

.server-google, .server-youtube, .server-openload {
    opacity: 0.3;
    border-radius: 5px;
    cursor: pointer;
}
.server-active {
    opacity: 1;
    border: 1px solid wheat;
    background-color: white;
}

.title-video {
    float:left;
    line-height: 1.5;
    font-size:24px;
    font-weight: 600;
    color: darkgrey;
    margin-left: 5px;
}
.view-times {
    float:right; 
    color:gray;
    line-height: 3;
}
.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning{
    background-image: none;
}

.username-comment,.report-comment-username{color:blue; font-weight: 700;}
.text-light-red, .color-name-admin{color:rgb(208, 108, 85) !important}

.content-comment, .color-comment-admin{color:darkgray !important}

.color-name-locked{color: #de7878 !important}

.color-comment-locked{color:#e47878 !important}

.content-comment{white-space: pre-wrap;}

.avatar {
    background: rgba(128, 128, 128, 0.3);
}

.icon-voted {
    font-size: 3em;
    color: #008000;
}

.btn-refresh-captcha{
    color:gray;
}
.btn-refresh-captcha:hover{
    color:white;
}

.rate-base-layer
{
    color: #aaa;
}
.rate-hover-layer
{
    color: orange;
    cursor: pointer;
}
.rate-select-layer{
    color: yellow;
}
.rate {            
    font-size: 32px;
    left:35%;
}
.page-error{
    text-align: center;
}
.error-header-404 > .error-code, .error-header-404 > .error-name {
    font-size: 2em;
    color:#DB9215;
}
.error-header-401 > .error-code, .error-header-401 > .error-name{
    font-size: 2em;
    color: #DB2B1D;
}

/* rewrite bootstrap */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}
a.btn{
    padding: 6px 0px;
}

label{
    color:gray;
}

.table {
    background-color:#fff;
    border-radius: 3px;
}

.table .table{
    background-color: #fff;
}

.display-none{
    display: none !important;
}

.dropdown-menu {
    background-color: #000c;
}

.dropdown-menu>li, .dropdown-menu>li>a{
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.dropdown-menu>li:hover,.dropdown-menu>li>a:hover{
    background: #00a5ad;
}

.dropdown-menu>li>a,.dropdown-menu>li>a:hover{
    color:#fff;
}

/* rewrite videojs */
.video-js {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-break: initial;
    width: 100%;
    height: 380px;
    cursor: pointer;
}
@media (max-width: 480px) {
    .video-js {
        height: 300px;
    }
}
/* end videojs */

/* rewrite qtip2 */
.qtip-default {
    border: 1px solid rgb(237, 249, 238);
    background-color: rgb(237, 249, 238);
    color: #00a5ad;
}
/* end qtip2 */
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../img/themes/move-up.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}